:root {
    --main-color: #5865f2;
}

img {
    display: block;
    width: 100%;
}

button {
    cursor: pointer;
}

/* header start -------------------------------------------------------------------------------------------------------------------------------------- */

header {
    padding: 0 48px;
    height: 64px;
}

.header-container {
    max-width: 1160px;
    height: 100%;
    /* 
        헤더-컨테이너에 세로값 바로 주면 안됨? 
        위에서부터 내려오거나 아래에서부터 올라오거나 둘 중의 하나, 
        나중에 헷갈릴 수 있음. 
    */
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-container nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.header-container ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.header-container a {
    text-decoration: none;
    color: var(--main-color);
    font-size: bold;
}

.header-container a:hover {
    text-decoration: underline;
}

.lang-select {
    display: flex;
    align-items: center;
    gap: 4px;
}

.lang-select:after {
    content: "";
    display: block;
    width: 4px;
    height: 4px;
    border: 1px solid var(--main-color);
    transform: rotate(45deg);
    border-top: none;
    border-left: none;
}

.hamberger-button {
    background: transparent;
    border: none;
    display: none;
}

/* header end -------------------------------------------------------------------------------------------------------------------------------------- */
/* main start -------------------------------------------------------------------------------------------------------------------------------------- */

/* main {
    background: url(img/main-background.png);
    height: 400px;
    background-size: cover;
    padding: 0 32px;
    background-position: center;
}

.main-container {
    max-width: 700px;
    margin: 0 auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;    
    align-items: center;
    margin-bottom: 60px;
}

h1 {
    color: white;
    font-weight: bold;
    font-size: 48px;
    margin-bottom: 12px;
}

.serach-container {
    width: 100%;
    height: 40px;
    position: relative;
}

.serach-container > input {
    display: block;
    width: 100%;
    padding: 8px;
    padding-left: 32px;
    border: none;
    border-radius: 8px;
    color: gray;
}

.serach-icon {
    position: absolute;
    top: 50%;
    left: 8px;
    width: 18px;
    height: 18px;
    transform: translateY(-50%);
}

#help-main {
    padding: 0 5px;
    height: 500px;
}

h3, p {
    text-align: center;
}

.help-contents-wrapper {
    max-width: 700px;
    height: 100%;
}

.help-contents-wrapper {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.help-content {
    width: 240px;
    height: 260px;
    border: 1px solid #cccccc;
    border-radius: ;
    background: #ffffff;
    margin: 10px;
    padding: 5px;
    text-decoration: none;
}

.content-heading {
    color: var(--main-color);
    font-size: 24px;
    font-weight: bold;
}

.content-heading:after {
    width: 50px;
    height: 1px;
    background: #cccccc;
    border: 1px solid #cccccc;
}

.content-explane {
    color: #5e5776;
    font-size: 12px;
    font-weight: bold;
}

.help-content > a > img {
    width: 212px;
    height: 212px;
}

h3, p {
    text-decoration: none;
} */

/* main end -------------------------------------------------------------------------------------------------------------------------------------- */
/* section-first start -------------------------------------------------------------------------------------------------------------------------------------- */

section {
    padding: 0 32px;
}

#help-main {
    text-align: center;

}

#help-main h2 {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 24px;
}

.section-container {
    padding-top: 64px;
}

.links {
    text-decoration: none;
    color: var(--main-color);
}


.links:hover {
    text-decoration: underline;
}


.help-content {
    width: 240px;
    height: 260px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

.help-content-img {
    width: 106px;
    margin: 0 auto;
}

.help-content > a {
    display: block;
    width: 100%;
    height: 100%;
    padding: 12px;
    box-sizing: border-box;
    text-decoration: none;
    /* none처리는 a태그에 적용해야 함. */
}

.content-heading {
    color: var(--main-color);
    font-size: 24px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content-heading:after {
    content: "";
    display: block;
    width: 80px;
    height: 1px;
    background: #ccc;
    margin-top: 24px;
    margin-bottom: 16px;
}

.content-explane {
    color: #555;
    font-size: 16px;
}

.help-contents-wrapper {
    display: flex;
    flex-wrap: wrap;
    /* 컨텐츠 넘치면 줄바꿈 */
    gap: 16px;
    justify-content: center;
    margin-top: 48px;
}

.help-content:hover {
    background: #eee;
}

.help-more {
    padding-bottom: 18px;
}

/* section-first end -------------------------------------------------------------------------------------------------------------------------------------- */
/* section-second start -------------------------------------------------------------------------------------------------------------------------------------- */

#more-help {
    text-align: center;
}

#more-help h2 {
    font-size: 24px;
    font-weight: bold;
}

.help-content.diff {
    width: 260px;
}





/* section-second end -------------------------------------------------------------------------------------------------------------------------------------- */
/* footer start -------------------------------------------------------------------------------------------------------------------------------------- */

footer {
    width: 100%;
    background: #121315;
}

.footer-container {
    margin: 0 auto;
    max-width: 1000px;
}

.footer-more {
    text-align: center;
    padding: 48px;
    
}

.footer-more > button {
    background: #3ba55c;
    border: none;
    width: 250px;
    height: 40px;
    border-radius: 20px;
    color: white;
    font-size: 16px;
    font-weight: bold;    
}
/* button: inline-block 속성 */

.footer-devices {
    position: relative;
    width: 1000px;
    border-bottom: 1px solid #353535;
    
}

.footer-devices > img {
    height: 150px;
    width: auto;
    margin: 0 auto;
}

.icons {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
}

.icons img {
    width: auto;
    height: 56px;
    opacity: 0.5;
    transition: 0.2s;
    top: 72px;
    position: absolute;
}

.icons img:hover {    
    opacity: 1;
}

.icon-browsers {
    left: 
    

}

.icon-android {
    left: ;
    
}

.icon-apple {
    left: ;
    
}

.icon-window {
    left: ;
    
    
}

.icon-mac {
    left: 622px;
}

footer {
    overflow: hidden;
}

.footer-nav-container {
    display: flex;
    gap: 200px;
    padding: 32px 32px;
    padding-bottom: 48px;
}

.footer-logo-container {
    width: 150px;
    flex-shrink: 0;
    /* shrink: 1. 줄다 2. 감소하다 3. 축소되다 4. 위축되다 5. 수축 */
}

.footer-nav {
    display: flex;
    width: 100%;
}

.footer-nav > ul {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.footer-nav a {
    color: white;
    text-decoration: none;
    font-size: 14px;
}

.footer-nav a:hover {    
    text-decoration: underline;
}

/* footer end -------------------------------------------------------------------------------------------------------------------------------------- */
/* help start -------------------------------------------------------------------------------------------------------------------------------------- */

#help {
    position: fixed;
    right: 16px;
    bottom: 16px;
    padding: 0;
}

#help > button {
    background: var(--main-color);
    border: none;
    width: 120px;
    height: 30px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
}







/* help end -------------------------------------------------------------------------------------------------------------------------------------- */
/* animation start -------------------------------------------------------------------------------------------------------------------------------------- */

@media screen and (max-width: 799px) {

    .hamberger-button {
        display: block;        
    }

    .header-container ul {
        display: none;
    }
}

/* animation end -------------------------------------------------------------------------------------------------------------------------------------- */